$primaryBackground: #2c436c;

/* buttons */
$greenButtonStart: #227c56;
$greenButtonEnd: #1d6546;

$blueButtonStart: #3c5e97;
$blueButtonEnd: #2e4a7a;

$redButtonStart: #b10d0d;
$redButtonEnd: #970000;

/* text colors */
$loanInPlayerBlue: #66ccff;
$titleYellow: #ffff33;

$lightShadowTransparency: 0.5;
$darkShadowTransparency: 0.5;
$buttonHoverLightenRatio: 2%;
