@import "../config/_variables";
@import "../config/_mixins";

.button {
  display: inline-block;
  text-align: center;
  user-select: none;
  font-weight: 600;
  cursor: pointer;

  &.green {
    @include gradient($greenButtonStart, $greenButtonEnd);
    @include buttonShadow($greenButtonStart, $greenButtonEnd);
    color: $titleYellow;

    &:hover {
      @include gradient(
        lighten($greenButtonStart, $buttonHoverLightenRatio),
        lighten($greenButtonEnd, $buttonHoverLightenRatio)
      );
    }
  }

  &.red {
    @include gradient($redButtonStart, $redButtonEnd);
    @include buttonShadow($redButtonStart, $redButtonEnd);
    color: #fff;

    &:hover {
      @include gradient(
        lighten($redButtonStart, $buttonHoverLightenRatio),
        lighten($redButtonEnd, $buttonHoverLightenRatio)
      );
    }
  }

  &.blue {
    @include gradient($blueButtonStart, $blueButtonEnd);
    @include buttonShadow($blueButtonStart, $blueButtonEnd);
    color: #fff;

    &:hover {
      @include gradient(
        lighten($blueButtonStart, $buttonHoverLightenRatio),
        lighten($blueButtonEnd, $buttonHoverLightenRatio)
      );
    }
  }

  &.circle {
    border-radius: 50%;

    &.sm {
      padding: 7px 0px;
      font-size: 10px;
      height: 14px;
      width: 28px;
      line-height: 14px;
    }
  }
}
